

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        padding: 10px;
          margin-top: 30px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        font-family: $police3;
        font-size: 20px;
        color: $color2;
        
        &:focus {
            border: 2px solid #95ECB0;
            outline: none;
        }
    }

}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 24px;
    background: $color4;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 20px;
    font-family: $police3;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: $color2;
    cursor: pointer;

    text-align: center;

    text-shadow: 0 0 10px rgb(226, 156, 5);
    animation: animate 5s linear infinite;

    &:hover {
        background: $color5;
    }

    @keyframes animate {
        0% {
            color: white;
            text-shadow: none;
        }

        100% {
            color: #fdefde;
            text-shadow: 0 0 10px #95ECB0,
                0 0 20px #F3F98A,
                0 0 40px rgb(255, 187, 0),
                0 0 80px #F3F98A,
                0 0 160px rgb(255, 187, 0),
                0 0 400px #95ECB0;
        }
    }

    a {
        list-style-type: none;
        text-decoration: none;
        color: $color3;
        text-shadow: 0 0 10px rgb(226, 156, 5);
        animation: animate 5s linear infinite;

        &:hover {
            color: $color4;
        }
    }

}

h1 {
    margin-top: 50px;
    text-align: center;
    font-family: $police3;
    font-size: 40px;
    color: $color6;
    text-shadow: 0 0 10px rgb(226, 156, 5);
    animation: animate 5s linear infinite;

}


@keyframes animate {
    0% {
        color: white;
        text-shadow: none;
    }

    100% {
        color: #fdefde;
        text-shadow: 0 0 10px #95ECB0,
            0 0 20px #F3F98A,
            0 0 40px rgb(255, 187, 0),
            0 0 80px #F3F98A,
            0 0 160px rgb(255, 187, 0),
            0 0 400px #95ECB0;
    }
}