.settings {
    display: flex;
    padding: 50px;
    justify-content: center;
    font-family: $police2;
    font-weight: bold;
    color: $color2;
}

.position {
    display: flex;
    flex-direction: column;

}

.settingsPP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    

   
} 
.iconPP {
        margin-top: 30px;
        font-size: 40px;
       cursor: pointer;
}
.settingsTitre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;

    font-size: 18px;

    .settingsUpdateTitre {
        font-family: $police3;
        font-size: 38px;
    }
    .settingsDeleteTitre {
        margin-top: 15px;
    }
}
.settingsInfo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}

.settingsForm {

    input {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;
        border: 2px solid $color2;
        background-color: $color7;
        text-align: start;
        font-size: 18px;
        color: $color2;
        font-family: $police4;
        
       

        &:hover {
            background-color: $color1;
            color: $color7; 
            font-family: $police4;
        }
    }

    .settingsSubmit {
       margin-top: 10px;
        padding: 10px;
        font-size: 24px;
        background-color: $color7;
        color: $color2;
        font-family: $police2;
        font-weight: bold;
        border: 2px solid $color2;
        cursor: pointer;

        &:hover {
            background-color: $color1;
            color: $color7;
        }
    }
}