.title {
    margin-top: 20px;
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        font-size: 56px;
        color: #35096e;
        font-family: 'Parisienne', cursive;
    }
}

.categories {
    width: 100%;
    height: 400px;
    margin-top: -45px;
    background: #E8D7F1;
    box-shadow: 2px 1px 15px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .biographie {
        width: 400px;
        height: 300px;
        background-color: $color6;
    }
    .actualites {
        width: 400px;
        height: 300px;
        background-color: $color6;
    }
    .implants {
        width: 400px;
        height: 300px;
        background-color: $color6;
    }
}
