.title {
    margin-top: 15px;
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        font-size: 4rem;
        color: $color2;
        font-family: 'Parisienne', cursive;
    }
}

.categories {
    width: 100%;
    height: 400px;
    margin-top: -50px;
    background: #E8D7F1;
    box-shadow: 2px 1px 15px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .biographie {
        width: 400px;
        height: 300px;
        background-color: $color6;
    }
    .actualites {
        width: 400px;
        height: 300px;
        background-color: $color6;
    }
    .implants {
        width: 400px;
        height: 300px;
        background-color: $color6;
    }

}
.histoire {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        font-family : $police1;
        color: $color1;
        font-weight: 400;
    }

    p {
        color: $color3;
        font-family: $police1;
        text-align: center;
        font-weight: 300;
        font-size: 26px;
        margin-right: 100px;
        margin-left: 100px;
        padding: 30px;
    }
}