
.title {
    margin-top: 15px;
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        font-family: $police3;
        font-size: 4rem;
        color: #F89B29;
        text-transform: uppercase;
        text-align: center;
        animation: animate 5s linear infinite;
       
        
    }
}
@keyframes animate {
    0% {
        color:#F89B29;
        text-shadow: none;
    }
   100% {
        color:#fdefde;
        text-shadow: 0 0 10px rgb(255, 187, 0),
        0 0 20px rgb(255, 187, 0),
        0 0 40px rgb(255, 187, 0),
        0 0 80px rgb(255, 187, 0),
        0 0 160px rgb(255, 187, 0),
        0 0 400px rgb(255, 187, 0), ;
    }
}

.categories {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 1px 15px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .biographie {
        width: 400px;
        height: 300px;
        background-color: $color6;
    }
    .actualites {
        width: 400px;
        height: 300px;
        background-color: $color6;
    }
    .implants {
        width: 400px;
        height: 300px;
        background-color: $color6;
    }

}
.histoire {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        font-family : $police1;
        color: $color1;
        font-weight: 400;
    }

    p {
        color: $color3;
        font-family: $police1;
        text-align: center;
        font-weight: 300;
        font-size: 26px;
        margin-right: 100px;
        margin-left: 100px;
        padding: 30px;
    }
}