.navbar {

  width: 100%;
  height: 100px;
  background-color: #d5b6df;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  
  margin: 0;
  padding: 0;
  list-style: none;

  li {
      margin-right: 50px;
      color: #4A306D;
      text-decoration: none;
      font-size: 24px;
      font-weight: bold;
      font-family: $police2;
      cursor: pointer;
  }
}