
.navbarUl {
  background: white;
  position: relative;
  min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);



}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  li {
    cursor: pointer;
    list-style: none;

    a {
      position: relative;
      display: inline-block;
      list-style-type: none;
      text-decoration: none;
      color: white;
      padding: 20px 30px;
      z-index: 1000;
    }

    ion-icon {
      font-size: 4.5em;
      pointer-events: none;
      opacity: 0.6;
      transition: 0.25s;
    }
  }
}

ul li:hover ion-icon {
  opacity: 1;
}

ion-icon {
  border-radius: 10px;
  background: linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
}




.connexion {
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  font-weight: 600;

  li {
    padding: 15px 10px;

    a {
      color: hsla(139, 70%, 75%, 1);

      &:hover {
        color: white;
      }
    }

    &:hover {
      border-radius: 10px;
      background: linear-gradient(90deg, hsla(139, 70%, 75%, 1) 0%, hsla(63, 90%, 76%, 1) 100%);
    }
  }

}

.navBarImg {

  border-radius: 10px;
  width: 100px;
  height: auto;
  max-height: 120px;
  cursor: pointer;
}