* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 1000px;
}

.footer {
  width: 100%;
}

.title {
  margin-top: 15px;
}
.title h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 4rem;
  color: #35096e;
  font-family: "Parisienne", cursive;
}

.categories {
  width: 100%;
  height: 400px;
  margin-top: -50px;
  background: #E8D7F1;
  box-shadow: 2px 1px 15px 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.categories .biographie {
  width: 400px;
  height: 300px;
  background-color: rgb(205, 143, 226);
}
.categories .actualites {
  width: 400px;
  height: 300px;
  background-color: rgb(205, 143, 226);
}
.categories .implants {
  width: 400px;
  height: 300px;
  background-color: rgb(205, 143, 226);
}

.histoire {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.histoire h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #4A306D;
  font-weight: 400;
}
.histoire p {
  color: #7645AC;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 30px;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #d5b6df;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin-right: 50px;
  text-decoration: none;
  color: #4A306D;
  font-size: 24px;
  font-weight: bold;
  font-family: "Poiret One", cursive;
  cursor: pointer;
}
ul li a {
  list-style-type: none;
  text-decoration: none;
  color: #4A306D;
}

.home {
  padding: 0;
  margin: 0;
}

.post {
  max-width: 350px;
  min-width: 350px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 5px 15px #4A306D;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post h2 {
  font-size: 26px;
  margin-bottom: 20px;
}
.post p {
  font-size: 18px;
}

.title {
  margin-top: 15px;
}
.title h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 4rem;
  color: #35096e;
  font-family: "Parisienne", cursive;
}

.categories {
  width: 100%;
  height: 400px;
  margin-top: -50px;
  background: #E8D7F1;
  box-shadow: 2px 1px 15px 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.categories .biographie {
  width: 400px;
  height: 300px;
  background-color: rgb(205, 143, 226);
}
.categories .actualites {
  width: 400px;
  height: 300px;
  background-color: rgb(205, 143, 226);
}
.categories .implants {
  width: 400px;
  height: 300px;
  background-color: rgb(205, 143, 226);
}

.histoire {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.histoire h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #4A306D;
  font-weight: 400;
}
.histoire p {
  color: #7645AC;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  background-color: #d5b6df;
}
footer p {
  margin-right: auto;
  margin-left: auto;
  font-family: "Parisienne", cursive;
  font-size: 26px;
  color: #2e0f57;
  font-weight: 600;
  text-align: center;
}
footer p ul {
  list-style: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  background-color: #d5b6df;
}
footer p {
  margin-right: auto;
  margin-left: auto;
  font-family: "Parisienne", cursive;
  font-size: 26px;
  color: #2e0f57;
  font-weight: 600;
  text-align: center;
}
footer p ul {
  list-style: none;
}

/*# sourceMappingURL=index.css.map */
