* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(150deg, hsl(139deg, 70%, 75%) 0%, rgb(223, 236, 150) 50%, hsl(63deg, 90%, 76%) 100%);
  background-repeat: no-repeat;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.title {
  margin-top: 15px;
}
.title h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}
.box {
  position: relative;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 700px;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  text-align: center;
  color: rgb(255, 136, 0);
  font-family: "Space Mono", monospace;
  font-weight: 500;
}

.navbarUl {
  background: white;
  position: relative;
  min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
ul li {
  cursor: pointer;
  list-style: none;
}
ul li a {
  position: relative;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  z-index: 1000;
}
ul li ion-icon {
  font-size: 4.5em;
  pointer-events: none;
  opacity: 0.6;
  transition: 0.25s;
}

ul li:hover ion-icon {
  opacity: 1;
}

ion-icon {
  border-radius: 10px;
  background: linear-gradient(90deg, hsl(139deg, 70%, 75%) 0%, hsl(63deg, 90%, 76%) 100%);
}

.connexion {
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  font-weight: 600;
}
.connexion li {
  padding: 15px 10px;
}
.connexion li a {
  color: hsl(139deg, 70%, 75%);
}
.connexion li a:hover {
  color: white;
}
.connexion li:hover {
  border-radius: 10px;
  background: linear-gradient(90deg, hsl(139deg, 70%, 75%) 0%, hsl(63deg, 90%, 76%) 100%);
}

.navBarImg {
  border-radius: 10px;
  width: 100px;
  height: auto;
  max-height: 120px;
  cursor: pointer;
}

.home {
  width: 100%;
  height: auto;
}

.post {
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.post .card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 280px;
  min-height: 500px;
  max-width: 280px;
  max-height: 500px;
  margin: 30px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
.post .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.post .content h2 {
  color: white;
  font-family: "Space Mono", monospace;
  text-shadow: 0 0 10px #95ECB0;
}
.post .content p {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  margin-top: 15px;
}
.post .content .link {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 10px;
}
.post .content .read {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 800;
  text-shadow: 0 0 10px #95ECB0;
}
.post .content .date {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 12px;
}
.post .postImg {
  width: 190px;
  max-height: 300px;
  border-radius: 10px;
}
.post .link {
  color: rgb(255, 136, 0);
  text-decoration: none;
}

.title {
  margin-top: 15px;
}
.title h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}
.box {
  position: relative;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 700px;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  text-align: center;
  color: rgb(255, 136, 0);
  font-family: "Space Mono", monospace;
  font-weight: 500;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 150px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
footer p {
  margin-right: auto;
  margin-left: auto;
  font-family: "Space Mono", monospace;
  font-size: 26px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0 10px hsl(139deg, 70%, 75%);
}
footer p ul {
  list-style: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 150px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
footer p {
  margin-right: auto;
  margin-left: auto;
  font-family: "Space Mono", monospace;
  font-size: 26px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0 10px hsl(139deg, 70%, 75%);
}
footer p ul {
  list-style: none;
}

.posts {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.actualites {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actualites h1 {
  margin-top: 50px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}
.container-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.write {
  margin-top: 20px;
}

.writeForm {
  display: flex;
  justify-content: center;
}
.writeForm .submit {
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  background: #F3F98A;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 20px;
  font-family: "Space Mono", monospace;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 136, 0);
  cursor: pointer;
  text-align: center;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}
.writeForm .submit:hover {
  background: linear-gradient(150deg, hsl(139deg, 70%, 75%) 0%, rgb(223, 236, 150) 50%, hsl(63deg, 90%, 76%) 100%);
}
@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}

.formGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formGroup .writeImg {
  margin-right: 50px;
  display: flex;
  width: 300px;
  border-radius: 10px;
}
.formGroup ion-icon {
  margin-right: 50px;
  color: white;
  font-size: 4.5em;
  opacity: 0.5;
  transition: 0.25s;
  border-radius: 10px;
  background: linear-gradient(90deg, hsl(139deg, 70%, 75%) 0%, hsl(63deg, 90%, 76%) 100%);
  cursor: pointer;
}
.formGroup ion-icon:hover {
  opacity: 1;
}

.formGroupText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formGroupText .writeTitre {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: rgb(255, 136, 0);
}
.formGroupText .writeTitre:focus {
  border: 2px solid #95ECB0;
  outline: none;
}
.formGroupText .writeInput {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: rgb(255, 136, 0);
}
.formGroupText .writeInput:focus {
  border: 2px solid #95ECB0;
  outline: none;
}

.buttonWriteSubmit {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.settings {
  display: flex;
  padding: 50px;
  justify-content: center;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  color: rgb(255, 136, 0);
}

.position {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  margin-top: 10px;
}

ion-icon {
  color: white;
  font-size: 4.5em;
  margin-left: 30px;
  opacity: 0.5;
  transition: 0.25s;
  border-radius: 10px;
  background: linear-gradient(90deg, hsl(139deg, 70%, 75%) 0%, hsl(63deg, 90%, 76%) 100%);
  cursor: pointer;
}

ion-icon:hover {
  opacity: 1;
}

.settingsUpdateTitre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}

.settingsInfo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}

.settingsForm input {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: rgb(255, 136, 0);
}
.settingsForm input:focus {
  border: 2px solid #95ECB0;
  outline: none;
}
.settingsForm .settingsSubmit {
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  background: #F3F98A;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 20px;
  font-family: "Space Mono", monospace;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 136, 0);
  cursor: pointer;
  text-align: center;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}
.settingsForm .settingsSubmit:hover {
  background: linear-gradient(150deg, hsl(139deg, 70%, 75%) 0%, rgb(223, 236, 150) 50%, hsl(63deg, 90%, 76%) 100%);
}
@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}

label {
  font-family: "Space Mono", monospace;
  margin-top: 30px;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginForm input {
  padding: 20px;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: rgb(255, 136, 0);
}
.loginForm input:focus {
  border: 2px solid #95ECB0;
  outline: none;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  font-size: 24px;
  background: #F3F98A;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 20px;
  font-family: "Space Mono", monospace;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 136, 0);
  cursor: pointer;
  text-align: center;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}
button:hover {
  background: linear-gradient(150deg, hsl(139deg, 70%, 75%) 0%, rgb(223, 236, 150) 50%, hsl(63deg, 90%, 76%) 100%);
}
@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}
button a {
  list-style-type: none;
  text-decoration: none;
  color: #95ECB0;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}
button a:hover {
  color: #F3F98A;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerForm input {
  padding: 10px;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: rgb(255, 136, 0);
}
.registerForm input:focus {
  border: 2px solid #95ECB0;
  outline: none;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  background: #F3F98A;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 20px;
  font-family: "Space Mono", monospace;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 136, 0);
  cursor: pointer;
  text-align: center;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}
button:hover {
  background: linear-gradient(150deg, hsl(139deg, 70%, 75%) 0%, rgb(223, 236, 150) 50%, hsl(63deg, 90%, 76%) 100%);
}
@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}
button a {
  list-style-type: none;
  text-decoration: none;
  color: #95ECB0;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}
button a:hover {
  color: #F3F98A;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}
.singlePost {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.cardSinglePost {
  display: flex;
  align-items: center;
  position: relative;
  margin: 30px;
}

.text {
  margin-bottom: auto;
  position: relative;
  display: flex;
}

.contentSinglePost {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.contentSinglePost h1 {
  margin-top: 0px;
  margin-left: 20px;
  color: white;
  font-family: "Space Mono", monospace;
  text-shadow: 0 0 10px #95ECB0;
  text-align: center;
  text-transform: uppercase;
}

.commandes-icons {
  padding: 10px 10px;
  font-size: 20px;
  color: rgb(255, 136, 0);
  cursor: pointer;
}
.commandes-icons .icon {
  margin-left: 10px;
}

.singlePostInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-width: 600px;
  max-width: 600px;
  height: auto;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
.singlePostInfo p {
  display: flex;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  margin-top: 15px;
}

.date {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 12px;
}

.singleImg {
  margin-top: 60px;
  width: 500px;
  max-height: 800px;
  border-radius: 10px;
}

.singlePostButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  background: #F3F98A;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 20px;
  font-family: "Space Mono", monospace;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 136, 0);
  cursor: pointer;
  text-align: center;
  text-shadow: 0 0 10px rgb(226, 156, 5);
  animation: animate 5s linear infinite;
}
.singlePostButton:hover {
  background: linear-gradient(150deg, hsl(139deg, 70%, 75%) 0%, rgb(223, 236, 150) 50%, hsl(63deg, 90%, 76%) 100%);
}
@keyframes animate {
  0% {
    color: white;
    text-shadow: none;
  }
  100% {
    color: #fdefde;
    text-shadow: 0 0 10px #95ECB0, 0 0 20px #F3F98A, 0 0 40px rgb(255, 187, 0), 0 0 80px #F3F98A, 0 0 160px rgb(255, 187, 0), 0 0 400px #95ECB0;
  }
}

.singlePostTitreInput {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 20px;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 136, 0);
}
.singlePostTitreInput:focus {
  border: 2px solid #95ECB0;
  outline: none;
}

.paragrapheText {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: rgb(255, 136, 0);
}
.paragrapheText:focus {
  border: 2px solid #95ECB0;
  outline: none;
}

.btn-grad {
  background-image: linear-gradient(to right, #DAE2F8 0%, #D6A4A4 51%, #DAE2F8 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.single {
  display: flex;
}

/*# sourceMappingURL=index.css.map */
