* {
    margin: 0;
    padding: 0;
  }
  
  // color
  // police
  $color1: #4A306D;
  $color2: #2e0f57;
  $color3: #7645AC;
  $color4: #A167A5;

  // background
  
  $color5: #d5b6df;
  $color6 : rgb(205, 143, 226);
  $color7: #E8D7F1;
  
  // fonts police
  $police1: 'Josefin Sans', sans-serif;
  $police2: 'Poiret One', cursive;
  $police3: 'Parisienne', cursive;
  $police4: 'Montserrat Alternates', sans-serif;
  
  