* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // background: linear-gradient(90deg, hsla(61, 81%, 88%, 1) 0%, hsla(310, 65%, 85%, 1) 50%, hsla(7, 89%, 69%, 1) 100%);


  }
  .footer {
    width: 100%;
  }
  
  // color
  // police
  $color1: #4A306D;
  $color2: #2e0f57;
  $color3: #7645AC;
  $color4: #A167A5;

  // background
  
  $color5: #d5b6df;
  $color6 : rgb(205, 143, 226);
  $color7: #E8D7F1;
  
  // fonts police
  $police1: 'Josefin Sans', sans-serif;
  $police2: 'Poiret One', cursive;
  $police3: 'Space Mono', monospace;
  $police4: 'Montserrat Alternates', sans-serif;
  
  