* {
    margin: 0;
    padding: 0;
    
  }
  body {
    margin: 0;
    padding: 0;
    height: 1000px;
    background-color: #b6865a;
  }
  .footer {
    width: 100%;
  }
  
  // color
  // police
  $color1: #6d4630;
  $color2: #57260f;
  $color3: #f5e0d1;
  $color4: #a58567;

  // background
  
  $color5: #dfcdb6;
  $color6 : rgb(214, 176, 126);
  $color7: #f1e9d7;
  
  // fonts police
  $police1: 'Josefin Sans', sans-serif;
  $police2: 'Poiret One', cursive;
  $police3: 'Parisienne', cursive;
  $police4: 'Montserrat Alternates', sans-serif;
  
  