* {
  margin: 0;
  padding: 0;
}

// color
// police
$color1: #4A306D;
$color2: #2e0f57;
// background

$background1: #d5b6df;
$background2: #E8D7F1;

// fonts police
$police1: 'Josefin Sans', sans-serif;
$police2: 'Poiret One', cursive;
$police3: 'Parisienne', cursive;

