.header {
    margin-top: 20px;
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background: #E8D7F1;
        color: #2e0f57;
        font-family: 'Parisienne', cursive;
    }
}